.pagination {
  &-deall {
    display: flex;
    width: fit-content;
    list-style: none;

    & li a {
      display: flex;
      width: 3rem;
      height: 3rem;
      justify-content: center;
      align-items: center;
    }

    & li.selected {
      background: #E9D8FD;
    }
  }
}

// .pagination-ruparupa {
//   display: flex;
//   width: fit-content;
//   margin: 0;
//   padding: 0;
//   list-style: none;
//   box-shadow: 0 0 3px 0 rgba(207, 207, 207, 0.5);
//   align-items: center;
// }

// .pagination-ruparupa li a {
//   display: flex;
//   width: 5rem;
//   height: 4rem;
//   padding: 1rem;
//   background: white;
//   box-sizing: border-box;
//   justify-content: center;
//   align-items: center;
// }

// .pagination-ruparupa li:not(:last-child) {
//   border-right: 1px solid #E0E6ED;
// }

// .pagination-ruparupa li:not(li.disabled) a:hover {
//   background: #269ABC;
// }

// .pagination-ruparupa li.selected a {
//   background: #31B0D5;
// }

// .pagination-ruparupa li.disabled a {
//   background: #E0E6ED;
// }

// .pagination-ruparupa li:not(li.disabled) a:hover,
// .pagination-ruparupa li.selected a {
//   color: white;
// }